<div class="container mt-4">
    <div class="row mb-4">
        <div class="col">
            <!-- Top bar -->
            <div class="form-group">
                <button (click)="goBack()" class="btn float-left">Go back to search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" [class.col-12]="!showDiscussion">
            <!-- Exercise -->
            <div class="card border-secondary mx-auto rounded document_open pre-scrollable">
                <div class="card-header bg-secondary">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 flex-fill bd-highlight">
                            <p>{{(exercise?.title)}}, {{exercise?.tags}}</p>
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                            <div class="buttons">
                                <button (click)="unlockDiscussion()" *ngIf="discussionUnlocked" class="btn float-right">Discussions</button>
                                <button (click)="unlockDiscussion()" *ngIf="!discussionUnlocked" class="btn float-right">Discussions (-1)</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                  <ngx-md [data]="exercise?.body"></ngx-md>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Discussion -->
            <div class="card primary mx-auto rounded discussion" [hidden]="!showDiscussion">
                <div class="card-body">
                    <div class="list-group">
                        <div *ngFor="let discussion of discussions" class="discussion list-group-item list-group-item-action"style="z-index=-1">
                            <app-discussion-preview [discussion]="discussion"></app-discussion-preview>
                        </div>
                    </div>
                    <br>
                    <form class="form" (ngSubmit)="saveDiscussion(); discussionForm.reset()" #discussionForm="ngForm">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Title</span>
                            </div>
                            <input class="form-control custom-control" required [(ngModel)]="discussion.title" placeholder="Title" aria-label="Title" name="title">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Body</span>
                            </div>

                            <textarea class="form-control custom-control" required rows="3" [(ngModel)]="discussion.body" placeholder="Body" aria-label="Body" name="body"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary input-group-addon float-right" [disabled]="!discussionForm.form.valid">Submit (+2)</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
