<div class="card mx-auto rounded" style="width: 60%;">
    <div class="card-header bg-secondary">
        <div style="float: left;">
            {{exercise.title}}
        </div>
        <div style="float: right; display: inline;">
            {{exercise.source}}
        </div>
    </div>
    <div class="card-body" style="max-height: 300px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in turpis et nunc imperdiet molestie at ut ante. Donec a est at lacus feugiat convallis vel sed dolor. Morbi vulputate fringilla felis in malesuada. Fusce dapibus augue urna, nec sagittis urna congue id. Nullam volutpat ultrices diam quis faucibus. Suspendisse erat nisl, commodo at fermentum ut, lobortis et mauris. Sed id odio vel justo pretium congue. Sed non lacus turpis. Ut accumsan pharetra vulputate. Suspendisse bibendum sed nisi sed vehicula. Fusce arcu magna, posuere tempor justo vitae, tincidunt elementum purus. Aliquam erat volutpat. Pellentesque mattis tincidunt libero sed dapibus.
    </div>
</div>
