<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">We value constructive discussion!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <style>
            .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 200px;
            }
        </style>
        <div class="column" style="background-color:#ffcccc;text-align: center">
            This sounds complicated.
        </div>
        <div class="column" style="background-color:#b3ffcc;text-align: center">
            If y~N(0.1+b,0.1+b), why do I need to consider y as a Normal random variable, if b only takes discrete values? Shouldn't it be a Bernoulli random variable?
        </div>
        <h4 style="text-align: center">Which one do you think would be more helpful?</h4>
        <p style="text-align: center">In our community, we believe that every student is capable of contributing to everyone's learning experience with constructive discussion.</p>
        <p style="text-align: center">Could you take a moment to improve your input?</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Review</button>
    </div>
</ng-template>
<div class="container-fluid mt-4">
    <div class="row justify-content-md-center">
        <div class="col" [class.col-lg-6]="!showDiscussion">
            <!-- Exercise -->
            <div class="card border-secondary mx-auto rounded document_open">
                <div class="card-header bg-light">
                    <div class="d-flex justify-content-between">
                        <div class="p-2">
                            <h3>{{(exercise?.title)}}</h3>
                            <h6><span class="badge badge-pill badge-primary mr-1" *ngFor="let tag of exercise?.tags">{{tag}}</span></h6>
                            <p *ngIf="exercise?.pondering.length > 1"><small><span class="badge badge-pill badge-info">{{exercise?.pondering.length}} users are pondering</span> </small></p>
                        </div>
                        <div class="p-2">
                            <div class="btn-group" role="group">
                                <button *ngIf="discussionUnlocked" (click)="unlockDiscussion()" class="btn btn-outline-dark float-right">Show discussions</button>
                                <button *ngIf="!discussionUnlocked" (click)="unlockDiscussion()" class="btn float-right btn-warning">Unlock discussions  (-1) </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngx-md [path]="exercise?.body"></ngx-md>
                </div>
            </div>
        </div>
        <div *ngIf="showDiscussion" class="col lg-6">
            <!-- Discussion -->
            <div class="card primary bg-light mx-auto rounded discussion" [hidden]="!showDiscussion">
                <div class="card-body">
                    <div class="list-group">
                        <span *ngFor="let discussion of discussions">
                            <app-discussion-preview [discussion]="discussion" [exercise]="exercise"></app-discussion-preview>
                        </span>
                    </div>
                    <br>
                    <div *ngIf="empty" class="text-primary">
                        <p><strong>{{prompt}}</strong></p>
                    </div>
                    <form class="form" (ngSubmit)="checkLength()&&discussionForm.reset()" #discussionForm="ngForm">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Title</span>
                            </div>
                            <input class="form-control custom-control" required [(ngModel)]="discussion.title" placeholder="Title" aria-label="Title" name="title">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Body</span>
                            </div>
                            <textarea class="form-control custom-control" required rows="3" [(ngModel)]="discussion.body" placeholder="Body" aria-label="Body" name="body"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary input-group-addon float-right" [disabled]="!discussionForm.form.valid" (click)="checkLength()? saveDiscussion() : open(content)">Submit (+2)</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
