<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/search">XLab</a>

  <div *ngIf="afAuth.user | async as user; else showLogin">
      <button class="btn" (click)="logout()">Logout ({{ user.email }})</button>
  </div>
  <ng-template #showLogin>
      <button class="btn" (click)="login()">Login with Google</button>
  </ng-template>

  <!-- <img src="https://scontent.ficn2-1.fna.fbcdn.net/v/t1.0-9/43952964_2393122984036767_287812823726161920_o.jpg?_nc_cat=101&oh=7c16b102e1e87b78ee3176ad8b3ee489&oe=5C608DF8" -->
  <!-- class="ratio responsive rounded-circle" style="max-height: 35px;"/> -->
</nav>
<router-outlet></router-outlet>
