<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/search">XLab</a>

  <div *ngIf="afAuth.user | async as user; else showLogin">
    <p class="coins">
      {{this.exerciseService.user[0].coins}} Coins
    </p>
    <a class="float-right white" routerLink="/user/{{ user.uid }}" style="max-height: 35px;"> Profile </a>
    <button class="btn" (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
      <button class="btn" (click)="login()">Login with Google</button>
  </ng-template>

</nav>
<router-outlet></router-outlet>
