.btn-discussion {
    margin-left: 0.3em;
}

span.author {
    display:inline;
}

.filler {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:-1;
}

.coins {
  color: white;
  display:inline;
  margin-right: 5px;
}

.meta.btn {
    margin-right: 1em;
}

a.invisible-link {
    color: black !important;
    text-decoration: none !important
}
