<div style="float: center;">
  <!-- Card with information -->
  <div class="card-header bg-primary mb-2 infocard">
    <h2 class="mb-4">{{course.name}}</h2>
    <!-- Contributors -->
    <div>
      By {{course.professors}}
    </div>
    <!-- Universities -->
    <div style="display: inline;">
      Used at {{course.unis}}
    </div>
    <div style="display: inline; float: right;">
      Data
    </div>
  </div>

<!-- Navigation -->
<nav class="nav nav-tabs justify-content-center">
  <a class="nav-link" href="#">Curriculum</a>
  <a class="nav-link" href="#">Discussion</a>
  <a class="nav-link" href="#">Lectures</a>
  <a class="nav-link" href="#">New Material</a>
</nav>

<!-- Topics -->

</div>
