<div class="container-fluid mt-4">
    <div class="row justify-content-md-center">
        <div class="col" [class.col-lg-6]="!showDiscussion">
            <!-- Exercise -->
            <div class="card border-secondary mx-auto rounded document_open">
                <div class="card-header bg-light">
                    <div class="d-flex justify-content-between">
                        <div class="p-2">
                            <h3>{{(exercise?.title)}}</h3>
                            <h6><span class="badge badge-pill badge-primary" *ngFor="let tag of exercise?.tags">{{exercise?.tags}}</span></h6>
                        </div>
                        <div class="p-2">
                            <div class="btn-group-vertical" role="group">
                                <button (click)="goBack()" class="btn btn-outline-dark">Exit discussion</button>
                                <button (click)="showDiscussion=!showDiscussion" class="btn btn-outline-dark"><span *ngIf="!showDiscussion">Show</span><span *ngIf="showDiscussion">Hide</span> discussion</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngx-md [path]="exercise?.body"></ngx-md>
                </div>
            </div>
        </div>
        <div class="col" *ngIf="showDiscussion">
            <!-- Discussion -->
            <div class="card bg-light mx-auto rounded discussion">
                <div class="card-body">
                    <div class="list-group">
                        <a class="discussion list-group-item">
                            <h3>{{discussion?.title}}

                                <button *ngIf="!discussion?.solved" type="button" class="btn btn-discussion disabled btn-outline-danger float-right">Unsolved</button>
                                <button *ngIf="discussion?.solved" type="button" class="btn btn-discussion btn-outline-success disabled float-right">Solved</button>
                            </h3>
                            <p><small> by <a routerLink="/user/{{author?.uid}}">{{author?.name}} </a><span class="badge badge-pill badge-info" *ngIf="mastery>0"> 👑 {{mastery}} </span> </small></p>

                            <p>{{discussion?.body}}</p>
                        </a>
                        <div *ngIf="this.discussion?.summary?.length > 0" class="list-group-item list-group-item-warning">Summary: {{discussion?.summary}}</div>
                        <button *ngIf="this.discussion?.summary?.length == 0 && this.comments?.length > 0" class="btn btn-primary" (click)="showSummarize=!showSummarize">Summarize</button>
                        <div *ngIf="showSummarize && this.discussion?.summary?.length == 0 && this.comments.length > 0">
                            <form class="form" (ngSubmit)="summarize(); summarizeForm.reset()" #summarizeForm="ngForm">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Summarize (+2)</span>
                                    </div>
                                    <textarea class="form-control custom-control" required rows="3" [(ngModel)]="summary" placeholder="Body" aria-label="Body" name="body"></textarea>
                                    <button type="submit" class="btn btn-primary input-group-addon float-right" [disabled]="!summarizeForm.form.valid">Submit</button>
                                </div>
                            </form>
                        </div>
                        <a *ngFor="let comment of comments" class="list-group-item list-group-item">
                            <app-comment-preview [comment]="comment" [exercise]="exercise"></app-comment-preview>
                        </a>
                    </div>
                    <br>
                    <form class="form" (ngSubmit)="saveComment(); commentForm.reset()" #commentForm="ngForm">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Comment (+2)</span>
                            </div>
                            <textarea class="form-control custom-control" required rows="3" [(ngModel)]="comment.body" placeholder="Body" aria-label="Body" name="body"></textarea>
                            <button type="submit" class="btn btn-primary input-group-addon float-right" [disabled]="!commentForm.form.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
