<div style="padding: 0.5% 0.3% 0.3% 0.3%;">
  <!-- Top bar -->
  <div class="m-4">
    Go back - Forward
  </div>
  <!-- Exercise -->
  <div class="card border-secondary mx-auto rounded document_open pre-scrollable">
    <div class="card-header bg-secondary">
      #social #computing #crowdsourcing
      <div class="buttons">
        <button (click)="showDiscussion=!showDiscussion" class="btn-secondary">Discussion</button>
      </div>
    </div>
    <div class="card-body bg-secondary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit nec neque ac vehicula. Fusce maximus metus et mi bibendum convallis sit amet et ipsum. Duis dui odio, viverra non hendrerit vitae, facilisis quis nibh. Fusce eu accumsan nulla, eget varius turpis. Integer maximus quam elit, nec finibus nulla egestas in. Ut eu leo sit amet lectus dictum maximus. Proin facilisis sit amet sem mattis luctus. Nulla orci magna, vulputate in sagittis at, lobortis vitae neque. Cras vestibulum massa pretium pellentesque pharetra. Sed sit amet congue justo, vitae elementum sapien. Fusce molestie neque in mi pretium elementum.

Ut accumsan finibus ligula, sit amet imperdiet velit interdum at. Praesent dui lectus, lobortis eget justo sed, rhoncus commodo sem. Suspendisse in neque a nisl convallis bibendum sed iaculis est. Cras volutpat interdum sapien, eget tempus dolor consectetur vitae. Suspendisse nec facilisis ligula. Donec convallis, lectus vitae feugiat ultrices, odio sapien ornare purus, semper euismod lectus risus et odio. Aenean sodales egestas felis, ut dignissim justo rhoncus sit amet. Mauris quis sollicitudin felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec fringilla quam non imperdiet consequat. Mauris ultricies turpis nunc, in tempus metus gravida ac. Cras pulvinar mauris a erat congue gravida.

Mauris id porttitor velit. Quisque id arcu tristique, ornare sapien eu, suscipit nulla. Nam elementum turpis tortor, sed pulvinar elit lobortis in. Morbi sed nulla quis mauris lobortis auctor ac non odio. Phasellus rutrum ac dui sed ullamcorper. Integer metus felis, semper non mollis vitae, ullamcorper tristique urna. Sed ac arcu a lorem pharetra volutpat.

Etiam non metus ut arcu congue euismod sit amet et odio. Integer eget condimentum felis. Donec nec sapien lobortis, congue nibh vel, consequat est. Nunc ut nisl in urna gravida sagittis. Pellentesque aliquam venenatis eros a lobortis. Vestibulum id purus pharetra, cursus felis vel, commodo lacus. Sed ultricies ex id lorem dictum molestie. Nulla turpis odio, lobortis eu risus at, bibendum elementum mauris.

Sed iaculis velit ut turpis tristique blandit non pellentesque arcu. Curabitur vel augue ut velit aliquam cursus. Nam consectetur mi in mauris maximus, in lobortis mi tempus. Vivamus elementum magna et nunc dignissim pharetra. Nulla non tortor nisl. Pellentesque risus mi, aliquet eget congue scelerisque, faucibus non ligula. Nam nec sollicitudin nibh, et accumsan metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel odio non orci pulvinar semper eu eget dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam volutpat justo interdum sem aliquam, vitae dictum augue lobortis. Aenean turpis nisl, sagittis a porttitor et, bibendum ut quam. Vestibulum leo est, tincidunt a nibh vestibulum, tempor venenatis tellus. Vivamus et nunc ut nisl scelerisque scelerisque.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit nec neque ac vehicula. Fusce maximus metus et mi bibendum convallis sit amet et ipsum. Duis dui odio, viverra non hendrerit vitae, facilisis quis nibh. Fusce eu accumsan nulla, eget varius turpis. Integer maximus quam elit, nec finibus nulla egestas in. Ut eu leo sit amet lectus dictum maximus. Proin facilisis sit amet sem mattis luctus. Nulla orci magna, vulputate in sagittis at, lobortis vitae neque. Cras vestibulum massa pretium pellentesque pharetra. Sed sit amet congue justo, vitae elementum sapien. Fusce molestie neque in mi pretium elementum.

Ut accumsan finibus ligula, sit amet imperdiet velit interdum at. Praesent dui lectus, lobortis eget justo sed, rhoncus commodo sem. Suspendisse in neque a nisl convallis bibendum sed iaculis est. Cras volutpat interdum sapien, eget tempus dolor consectetur vitae. Suspendisse nec facilisis ligula. Donec convallis, lectus vitae feugiat ultrices, odio sapien ornare purus, semper euismod lectus risus et odio. Aenean sodales egestas felis, ut dignissim justo rhoncus sit amet. Mauris quis sollicitudin felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec fringilla quam non imperdiet consequat. Mauris ultricies turpis nunc, in tempus metus gravida ac. Cras pulvinar mauris a erat congue gravida.

Mauris id porttitor velit. Quisque id arcu tristique, ornare sapien eu, suscipit nulla. Nam elementum turpis tortor, sed pulvinar elit lobortis in. Morbi sed nulla quis mauris lobortis auctor ac non odio. Phasellus rutrum ac dui sed ullamcorper. Integer metus felis, semper non mollis vitae, ullamcorper tristique urna. Sed ac arcu a lorem pharetra volutpat.

Etiam non metus ut arcu congue euismod sit amet et odio. Integer eget condimentum felis. Donec nec sapien lobortis, congue nibh vel, consequat est. Nunc ut nisl in urna gravida sagittis. Pellentesque aliquam venenatis eros a lobortis. Vestibulum id purus pharetra, cursus felis vel, commodo lacus. Sed ultricies ex id lorem dictum molestie. Nulla turpis odio, lobortis eu risus at, bibendum elementum mauris.

Sed iaculis velit ut turpis tristique blandit non pellentesque arcu. Curabitur vel augue ut velit aliquam cursus. Nam consectetur mi in mauris maximus, in lobortis mi tempus. Vivamus elementum magna et nunc dignissim pharetra. Nulla non tortor nisl. Pellentesque risus mi, aliquet eget congue scelerisque, faucibus non ligula. Nam nec sollicitudin nibh, et accumsan metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel odio non orci pulvinar semper eu eget dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam volutpat justo interdum sem aliquam, vitae dictum augue lobortis. Aenean turpis nisl, sagittis a porttitor et, bibendum ut quam. Vestibulum leo est, tincidunt a nibh vestibulum, tempor venenatis tellus. Vivamus et nunc ut nisl scelerisque scelerisque.
    </div>
  </div>
  <!-- Discussion -->
  <div class="card primary mx-auto rounded discussion" [hidden]="!showDiscussion">
    <ul class="list-group pre-scrollable">
      <li class="list-group-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat auctor libero in dapibus. Nulla facilisi. In hac habitasse platea dictumst. Nam fringilla finibus tortor.
        Donec ut magna vitae nisl semper fringilla. Nullam sit amet lacus commodo, faucibus dolor a, laoreet felis. Aenean rutrum diam erat, vestibulum sodales orci aliquet in.
        In eu sodales odio.
        <hr />
        <div style="float: left;">
          Reply
        </div>
        <div style="display: inline; float: right;">
          Gabriel Lima, 10/13/2018
        </div>
      </li>
      <li class="list-group-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat auctor libero in dapibus. Nulla facilisi. In hac habitasse platea dictumst. Nam fringilla finibus tortor.
        Donec ut magna vitae nisl semper fringilla. Nullam sit amet lacus commodo, faucibus dolor a, laoreet felis. Aenean rutrum diam erat, vestibulum sodales orci aliquet in.
        In eu sodales odio.
        <hr />
        <div style="float: left;">
          Reply
        </div>
        <div style="display: inline; float: right;">
          Gabriel Lima, 10/13/2018
        </div>
      </li>
      <li class="list-group-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat auctor libero in dapibus. Nulla facilisi. In hac habitasse platea dictumst. Nam fringilla finibus tortor.
        Donec ut magna vitae nisl semper fringilla. Nullam sit amet lacus commodo, faucibus dolor a, laoreet felis. Aenean rutrum diam erat, vestibulum sodales orci aliquet in.
        In eu sodales odio.
        <hr />
        <div style="float: left;">
          Reply
        </div>
        <div style="display: inline; float: right;">
          Gabriel Lima, 10/13/2018
        </div>
      </li>
    </ul>
    <form class="form-inline input-group">
      <textarea class="form-control custom-control" rows="3"></textarea>
      <button type="button" class="btn btn-primary input-group-addon">Submit</button>
    </form>
  </div>
</div>
