<div class="container">
    <div class="form-group row">
        <input type="text" class="form-control" placeholder="Search...">
    </div>
    <div class="row">
        <div class="column w-100">
            <ul style="list-style-type:none">
            <li *ngFor="let exercise of exercises">
                <div class="card mx-auto rounded">
                    <div class="card-header bg-secondary">
                        <a class="invisible-link" routerLink="/exercise/{{exercise.id}}">
                        <div style="float: left;">
                            <h3>{{exercise.title}}</h3>
                        </div>
                        </a>
                        <div style="float: right; display: inline;">
                            <p>by {{exercise.source}}</p>
                        </div>
                    </div>
                    <div class="card-body" style="max-height: 300px;">
                        <a class="invisible-link" routerLink="/exercise/{{exercise.id}}">
                        <p><ngx-md [data]="exercise?.body"></ngx-md></p>
                        </a>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>
