<div class="discussion list-group-item" [class.list-group-item-action]="commentsUnlocked" (click)="openComments()">
    <div class="d-flex ">
        <div class="mr-2">
            <button type="button" ng-class="isConcerned'btn-primary disabled':'btn-info'" (click)="exerciseService.toggleConcern(exercise_id, discussion)" class="btn float-left" [class.btn-primary]="isConcerned" [class.disabled]="isConcerned" [class.btn-outline-primary]="!isConcerned" style="z-index:5;">✋{{discussion.concerned.length}}</button>
        </div>
        <div class="flex-grow-1 mr-2">
            <p>{{discussion.title}}</p>
            <p><small> by <a routerLink="/user/{{user?.uid}}">{{user?.name}} </a><span class="badge badge-pill badge-info" *ngIf="mastery>0"> 👑 {{mastery}} </span><a href="#" class="text-muted ml-4" (click)="report()">Report</a></small></p>
        </div>
        <div>
            <button *ngIf="!discussion.solved" type="button" class="btn btn-discussion disabled btn-outline-danger float-right">Unsolved</button>
            <button *ngIf="discussion.solved" type="button" class="btn btn-discussion disabled btn-outline-success float-right">Solved</button>
            <button type="button" *ngIf="!commentsUnlocked" (click)="unlockComments()" class="mr-2 btn btn-warning float-right">Unlock (-1)</button>
        </div>
    </div>
</div>
