<p>
    {{discussion.title}} <span class="blockquote-footer author"> by <a routerLink="/user/{{user.id}}"> {{user.name}}</a> </span> <button type="button" class="btn btn-discussion btn-outline-danger float-right">unsolved</button> <button type="button" ng-class="exerciseService.isConcerned(discussion)'btn-outline-info':'btn-info'" (click)="exerciseService.toggleConcern(exercise_id, discussion)" class="btn btn-discussion float-right">✋{{discussion.concerned.length}}</button>
    <a routerLink="discussion/{{discussion?.id}}"><span class="filler"></span></a>
</p>
